
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar


.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?


.DS_Store
Thumbs.db

*.log
*.tmp

*.env
.env.*
secret/
*.local
*.bak

test-output/
out/
coverage/
jacoco*.exec

*.war
*.jar

checkstyle-report.xml

secret/*
secret